@font-face { font-family: JetBrainsMono-ExtraBold; font-weight: extra-bold; src: url('fonts/JetBrainsMono-ExtraBold.ttf'); }
@font-face { font-family: Rockwell; font-weight: normal; src: url('fonts/ROCK.TTF'); }
@font-face { font-family: TwCenMT; font-weight: normal; src: url('fonts/TCM_____.TTF'); }
@font-face { font-family: TwCenMT; font-weight: bold; src: url('fonts/TCB_____.TTF'); }


 /* Hide scrollbar for Chrome, Safari and Opera */
.noscrollbarthing::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noscrollbarthing {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
    background: rgb(206, 59, 59);
}
    
#top-time {
    background-color: white;
    box-shadow: 10px 10px black;
    font-family: "JetBrainsMono-ExtraBold";
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 3rem 12rem;
    padding: 2rem;
}

.schedule {
    background-color: white;

    box-shadow: 10px 10px black;
    font-family: "Rockwell";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 23rem;
    height: 29rem;
    margin: 4rem 3rem;
}
.name {
    font-family: "Rockwell";
    font-size: 50px;
    padding: 2rem;
}

.middle-info {
    background: rgb(73, 108, 221);
    margin: rem 0rem;
    color: white;
    font-family: "TwCenMT";
    font-weight: normal;
    font-size: 35px;
    padding: 1rem;
}
.middle-top {
}
.middle-middle {
    font-weight: bold;
    font-size: 40px;
    padding: 1rem;  
}
.middle-bottom {

}

.bottom-info {
    font-family: "TwCenMT";
    font-weight: normal;
    font-size: 30px;
    padding: 3rem;
}
.p-flex {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    width: 1px;
}
  
[type="file"] + label {
    background-color: rgb(14, 184, 85);
    border-radius: 4rem;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding: 1rem 2rem;
    font-family: "JetBrainsMono-ExtraBold";
}
 
[type="file"]:focus + label,
[type="file"] + label:hover {
      background-color: #8bcc23;
}
  
[type="file"]:focus + label {
    outline: 1px dotted #000;
}
#inputbox {
    text-align: center;
    margin: 0 auto;
    padding: 0rem;
}